<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>

    <typeAliases>
        <typeAlias type="com.demo.web.domain.Device" alias="Device"/>
        <typeAlias type="com.demo.web.domain.Picture" alias="Picture"/>
        <typeAlias type="com.demo.web.domain.Sysadmin" alias="Sysadmin"/>
        <typeAlias type="com.demo.web.domain.User" alias="User"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/demo/web/dao/DeviceMapper.xml"></mapper>
        <mapper resource="com/demo/web/dao/PictureMapper.xml"></mapper>
        <mapper resource="com/demo/web/dao/SysadminMapper.xml"></mapper>
        <mapper resource="com/demo/web/dao/UserMapper.xml"></mapper>
    </mappers>
</configuration>